h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}

main {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
}
main .perfil {
  background-color: #fbfbfb;
}
main .perfil__avatar {
  border-radius: 2rem;
}
main .perfil__nombre, main .perfil__minibio h2, .perfil__minibio main h2 {
  color: #8841da;
}
main .perfil__titulo, main .perfil__minibio h3, .perfil__minibio main h3 {
  color: #3f579a;
}
main .perfil__boton {
  padding-top: 6px;
  background-color: #333333;
  color: #ffffff;
  border: none;
}
main .articulos {
  background-color: #333333;
}
main .articulo__titulo {
  color: #ffffff;
}
main .articulo__descripcion {
  color: #ffffff;
}

.perfil {
  width: 50%;
  padding-top: 50px;
  color: #ffffff;
  background-color: #8841da;
}
.perfil__avatar {
  display: block;
  margin: 0 auto 10px;
  border-radius: 4.5rem;
}
.perfil__nombre, .perfil__minibio h2 {
  text-align: center;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.perfil__titulo, .perfil__minibio h3 {
  display: block;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgba(255, 255, 255, 0.5);
}
.perfil__boton {
  display: block;
  width: 100px;
  height: 40px;
  margin: 15px auto;
  padding-top: 10px;
  border-radius: 2rem;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: rgba(51, 51, 51, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;
}
.estadistica--perfil {
  display: flex;
  width: 50%;
  height: 90px;
  padding-top: 15px;
  margin: 0 auto;
  justify-content: space-around;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.4);
  color: #333333;
  background-color: #ffffff;
}

.estadistica_elemento {
  color: #333333;
}
.estadistica_elemento h3 {
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.estadistica_elemento span {
  font-size: 1.2rem;
  text-align: center;
  color: rgba(51, 51, 51, 0.5);
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}

.ubicacion--perfil {
  width: 50%;
  height: 90px;
  margin: 30px auto;
  padding: 20px 0 0 50px;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.4);
  color: #333333;
  background-color: #ffffff;
}
.ubicacion--perfil i {
  display: block;
  float: left;
  padding-right: 10px;
  font-size: 4rem;
  color: #3f579a;
}
.ubicacion--perfil h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
}
.ubicacion--perfil h3 {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-family: "Oswald", sans-serif;
  color: rgba(51, 51, 51, 0.5);
}

.galeria {
  width: 50%;
  height: 250px;
  margin: 10px auto;
  padding: 20px 0 0 30px;
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba(51, 51, 51, 0.4);
  color: #333333;
  background-color: #ffffff;
}
.galeria h2 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.galeria img {
  border-radius: 10px;
}
.galeria__foto-principal {
  float: left;
  margin-right: 10px;
}
.galeria__fotos-adicionales {
  height: 70px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.articulos {
  width: 50%;
  padding: 50px 0 0 50px;
}
.articulos .articulo {
  margin-bottom: 75px;
  border-bottom: 3px solid #8841da;
}
.articulos .articulo__categoria {
  font-weight: 500;
  font-size: 1.6rem;
  color: #8841da;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulos .articulo__titulo {
  margin: 5px 0;
  font-size: 2rem;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
}
.articulos .articulo__descripcion {
  margin-bottom: 30px;
  padding-right: 100px;
}

/*# sourceMappingURL=ejercicio-sass.css.map */
