.encabezado--con-filtros
  justify-content: space-between
  align-items: baseline
  contenedor()

  h2
    margin-top: 10px
    font-size: 5rem
    titulos(fuente-titulo)
  
  .filtros
    width: 250px
    height: 75px
    padding: 20px
    caja-sombra()
    span
      titulos(fuente-titulo)
    a 
      margin-left: 20px
      font-size: 25px
      text-decoration: none
      color: color-primario-oscuro