extends ./componentes/plantilla.pug

block contenidos
  section.intro 
    div.intro__imagen: img(src="./images/imagen.png" alt="Imagen generica")
    div.intro__contenido 
      h2 #{titulos[0]}
      p  
        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sunt et reiciendis nemo hic error dignissimos. Sequi fugit in non optio laborum dolore
        span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
      a.boton Ver Mas
  main.contenido
    //-Los mixin's se llaman con un signo + segido del nombre del mixin
    +caja('imagen.png',titulos[1],textoLorem)
    +caja('imagen.png',titulos[2],textoLorem)
    +caja('imagen.png',titulos[3],textoLorem)