-var titulo = "Título en una variable"
-var titulos = ["Título Principal","Título 1", "Título 2", "Título 3"]
-var usuario = "Cosito"
-var textoLorem = "Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sunt et reiciendis nemo hic error dignissimos."

//-Mixin's
//-Los mixin's se declaran al principio del documento, antes de desarrollar el contenido de HTML
mixin caja(imagen,titulo,contenido)
  article.caja
    figure.caja__imagen: img(src="./images/"+imagen, alt="Imagen generica")
    .caja__contenido
      h3 #{titulo}
      p #{contenido}

doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Pug 

    link(rel="stylesheet" href="./css/ejercicio-pug.css")

  body
    header 
      h1 PlatziGames

      //- Ciclo if
      if usuario
        a Hola #{usuario}
      else
        a.boton registro

    section.intro 
      div.intro__imagen: img(src="./images/imagen.png" alt="Imagen generica")
      div.intro__contenido 
        h2 #{titulos[0]}
        p  
          | Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum sunt et reiciendis nemo hic error dignissimos. Sequi fugit in non optio laborum dolore ipsam? Quia dolorum aliquid ut consectetur amet.
          span Proin sed urna quis orci interdum rutrum. Integer rhoncus finibus nunc, ac porttitor ex dapibus ac.
        a.boton Ver Mas
    
    main.contenido
      //-Los mixin's se llaman con un signo + segido del nombre del mixin
      +caja('imagen.png',titulos[1],textoLorem)
      +caja('imagen.png',titulos[2],textoLorem)
      +caja('imagen.png',titulos[3],textoLorem)
  //- Fin body
//- Fin HTML