.estadistica--perfil {
  display: flex;
  width: 50%;
  height: 90px;
  padding-top: 15px;
  margin: 0 auto;
  justify-content: space-around;
  @include caja;
}
.estadistica_elemento {
  color: $color-pimario-oscuro;
  h3 {
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $fuente-titulo;
  }
  span {
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
    font-family: $fuente-titulo;
  }
}
