//
//  VARIABLES

$fuente: "Lato", sans-serif;
$fuente-titulo: "Oswald", sans-serif;

$color-pimario-oscuro: #333333;
$color-claro: #ffffff;
$color-secundario: #8841da;
$color-variacion: #3f579a;

//
//  MIXIN's

@mixin caja {
  border-radius: 20px;
  box-shadow: 0px 20px 33px 0px rgba($color: $color-pimario-oscuro, $alpha: 0.40);
  color: $color-pimario-oscuro;
  background-color: $color-claro;
}

@mixin fuentes($fuentes) {
  @if $fuentes==$fuente {
    font-family: $fuente;
  }
  @else{
    font-family: $fuente-titulo;
    text-transform: uppercase;
  }
}

//
// FINCIONES 

@function get-opacity($color, $nivel) {
  @return rgba($color, $nivel);
}

//
// LOOPS

@each $header, $size in (h1: 3rem, h2: 2.5rem, h3: 2rem) {
  #{$header} {
    font-size: $size;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  @include fuentes($fuente)
}
main {
  display: flex;
  width: 100%;
  height: auto;
  min-height: 100vh;
  
}
