.perfil {
  width: 50%;
  padding-top: 50px;
  color: $color-claro;
  background-color: $color-secundario;

  &__avatar {
    display: block;
    margin: 0 auto 10px;
    border-radius: 4.5rem;
  }

  &__nombre {
    text-align: center;
    font-size: 2rem;
    @include fuentes($fuente-titulo);
  }

  &__titulo {
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    color: get-opacity($color-claro, .50);
  }

  &__boton {
    display: block;
    width: 100px;
    height: 40px;
    margin: 15px auto;
    padding-top: 10px;
    border-radius: 2rem;
    text-decoration: none;
    text-align: center;
    color: $color-claro;
    background-color: get-opacity($color-pimario-oscuro, .20);
    border: 2px solid get-opacity($color-claro, .30);
    @include fuentes($fuente-titulo);
  }
}

.perfil__minibio {
  margin: 0 auto;
  padding-top: 20px;

  h2 {
    @extend .perfil__nombre;
  }

  h3 {
    @extend .perfil__titulo;
  }
}
